@*<script async src="https://cse.google.com/cse.js?cx=129e9516dffb81f9f"></script>
<div class="gcse-searchbox" data-gname="storesearch"></div>
<div class="gcse-searchresults" data-gname="storesearch"></div>*@

<center>
    <div>
        <img src="~/Images/Top4Search-white(300x75).png" alt="Top4Search" class="img-responsive">
        <form class="container" action="@Url.Action("ShowResults")">
            <div class="form-group">
                <div class="form-group" enableAutoComplete="true">
                    <div class="input-group mb-2">
                        <input type="text" class="form-control gcse-search" autocomplete="on" aria-describedby="button-addon2" id="inputSearch" name="search" required>
                        <button class="btn btn-primary" type="submit" id="buttonSearch"> <i class="fas fa-search"></i></button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</center>

