@{
    ViewBag.Title = "Top4Search - Images";
}

<center>
    <div style="padding-top: 150px">
        <div class="o3j99 LLD4me yr19Zb LS8OJ" style="">
            <style data-iml="1643968281910">
                .LS8OJ {
                    display: flex;
                    flex-direction: column;
                    align-items: center
                }

                .k1zIA {
                    height: 100%;
                    margin-top: auto
                }
            </style><div class="k1zIA rSk4se">
                <style data-iml="1643968281910">
                    .rSk4se {
                        max-height: 92px;
                        position: relative
                    }

                    .lnXdpd {
                        max-height: 100%;
                        max-width: 100%;
                        object-fit: contain;
                        object-position: center bottom;
                        width: auto
                    }
                </style><img class="lnXdpd" alt="Google Images" src="~/Images/Top4Search-white(300x75).png" data-iml="1643968281970" style="">
                <style data-iml="1643968281910">
                    .T8VaVe {
                        color: #4487f6;
                        font: 16px/16px roboto-regular, arial, sans-serif;
                        position: absolute;
                        left: 215px;
                        bottom: 0;
                        white-space: nowrap
                    }
                </style><span class="T8VaVe" style="">Images</span>
            </div>
        </div>
        <form class="container" action="@Url.Action("SearchImageResult")" style="padding-top: 15px">
            <div class="form-group" style="max-width:600px">
                <div class="form-group " enableAutoComplete="true">
                    <div class="input-group mb-2">
                        <input type="text" class="form-control col-sm" autocomplete="on" aria-describedby="button-addon2" id="inputSearch" name="search" required>
                        <button class="btn btn-primary" type="submit" id="buttonSearch"> <i class="fas fa-search"></i></button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</center>