@model List<SearchImageResult>
@{
    ViewBag.Title = "Image Search Result";
}


<ul class="list-group list-group-horizontal-md" style="margin: auto">
    @foreach (var item in Model)
    {
        <li class="list-group-item">
            <a href="@item.Link" class="text-dark">
                <div class="card" style="width: 18rem;">
                    <img  class="card-img-top" src="@item.Link" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">@item.Title</p>
                    </div>
                </div>
            </a>
        </li>
    }
</ul>