@model List<SearchImageResponse>
@{
    ViewBag.Title = "Image Search Result";
}


<center>
    <div class="row" style="margin-bottom:50px">
        <ul>
            @foreach (var item in Model)
            {
                <li class="list-group-item">
                    <div class="col-md-2">
                        <div class="thumbnail">
                            <a href="@item.Url">
                                <img src="@item.Link" alt="Lights" style="width:100%">
                                <div class="caption">
                                    <p>@item.Snippet</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </li>
            }
        </ul>
    </div>
</center>
