@model List<SearchResponse>
<br />
@{
    ViewBag.Title = "Search Result";
}

<body style="background: #fff">
    <div class="container">
        <!-- Stack the columns on mobile by making one full-width and the other half-width -->
        <div class="row">
            <div class="col-md-8">
                <ul style="list-style-type:none;">
                    @foreach (var item in Model)
                    {
                        <li>
                            <a style="text-decoration: none;" href="@item.Link" class="text-dark" target="iframe1">
                                @item.Link
                                <span class="text-info">
                                    <h4>@item.Title</h4>
                                </span>
                            </a>
                            <p class="text-dark">@item.Snippet</p>

                        </li>
                        <hr />
                    }
                </ul>
            </div>
            <div class="col-6 col-md-4">
                <iframe src="" width="400px" height="700px" name="iframe1">
                    <p>Your browser does not support iframes.</p>
                </iframe>
            </div>
        </div>
    </div>
</body>





